/* Nama : Fathin Achmad Ashari */
/* NIM  : L0122062 */

/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.logo {
    margin: 0;
    font-size: 24px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-left: 20px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu a {
    text-decoration: none;
    color: #333;
}

.menu a:hover,
.menu a.active {
    color: #538bc6;
}

main {
    padding: 40px 0;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Beranda */
.hero {
    background-color: #007bff;
    color: #ffffff;
    padding: 60px 0;
    text-align: center;
}

.features {
    text-align: center;
}

.feature {
    margin-bottom: 40px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

/* Tentang Kami */
.about {
    text-align: center;
    padding: 60px 0;
}

.team {
    text-align: center;
}

.team-member {
    margin-bottom: 20px;
}